:root {
  --bg: #0f172a;
  --text: #f1f5f9;
  --accent: #3b82f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--bg);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
    color: var(--accent);
}

.brand{
    font-size: 20px;
    font-weight:bold;
    color: var(--accent);
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    ul {
        flex-direction: column;
        margin-top: 20px;
    }
  }